@import url("https://fonts.googleapis.com/css2?family=Georama:wght@500;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Georama", sans-serif;
  }

body {
  background: white;
  }

.symbol {
    display: inline-block;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    background-color:black;
}

.symbol > span {
    display: block;
    color:white;
}
  
.topnav {
    overflow: hidden;
    background-color: white;
  }
  
  .topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav-right {
    float: right;
  }

  .topnav-right a {
    font-size: 13px;
  }

  .dropdown {
    float:left ;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 13px;  
    border: none;
    outline: none;
    color:black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
 


.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 80px;
  grid-gap: 13px;
  background-color: white;
  padding: 10px;
}

.grid-container > div {
  background-color: white;
  text-align: center;
  padding: 20px 0;
  font-size: 13px;
}


.img {
  background-image: url("mountain.jpg");
  min-width: 100vw;
  min-height: 70vh;
  padding: 5px;
  background-size: cover;
  position: relative;
  align-items: center;
}

section{
  display:flex;
  flex-direction: column; 
  justify-content:center;
  align-items:center;
  margin-top: 18vh;
}

section > h1 {
  width: 50%;
  padding-left: 100px;
  padding-right: 100px;
  margin: 8px;
  font-size: 40px;
  text-align: center;
  letter-spacing: 1px;
}

section > p {
  padding-left: 500px;
  padding-right: 500px;
  letter-spacing: 1px;
  text-align: center;
}

section > div {
    text-align: center;
}

.Learnmore {
    background-color: orange;
    text-align: center;
    color:black;
    font-size: 10px;
    font-weight: bold;
    margin: 4px 2px;
    padding: 15px 32px;
    top: 50%;
}

.Hireus {
    background-color: black;
    text-align: center;
    color:white;
    font-size: 10px;
    font-weight: bold;
    margin: 4px 2px;
    padding: 15px 32px;
    top: 50%;
}
/* Add a card effect for articles 

 .card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
*/

.dot {
  height: 25px;
  width: 25px;
  margin-top:5px;
  background-color: orange;
  border-radius: 50%;
  display: inline-block;
}

.footer {
  padding: 20px;
}   


/* ---Media tags --- */
@media only screen and (min-width:375px) {
  section > h1 {
    font-size: 15px;
      padding-left: 1px;
      padding-right: 1px;
  }

  section > p {
    padding-left: 70px;
    padding-right: 70px;
    letter-spacing: 0.1px;
    font-size: 8px;
  }

  .Learnmore {
    font-size: 7px;
    margin: 4px 2px;
    padding: 10px 20px;
}

  .Hireus {
    font-size: 7px;
    margin: 4px 2px;
    padding: 11px 28px;
  }

  .grid-container {
    display: inline-block;
  }


}

@media only screen and (min-width: 768px) {
  .topnav {
    padding-right: 40px;
    padding-left: 50px;
  }
  
  section > h1 {
    width : 100%;
    font-size: xx-large;
    padding-left: 150px;
    padding-right: 150px;
  }

  section > p {
    padding-left: 180px;
    padding-right: 180px;
    letter-spacing: 0.1px;
    font-size: small;
  }

  .grid-container {
    padding: 5px;
  }

  footer{
    padding: 15px;
  }
}

@media only screen and (min-width: 1024px) {
  section > h1 {
    width : 100%;
    font-size: xx-large;
    padding-left: 340px;
    padding-right: 340px;
  }

  section > p {
    padding-left: 350px;
    padding-right: 350px;
    letter-spacing: 0.5px;
    font-size: small;
  }
}
